*/Build/
*/DerivedData/
**/Build/
**/DerivedData/
**.xcworkspace
**.xcworkspace
*/xcuserdata/
**/xcuserdata/


# first directory

Build/
DerivedData/
*.xcworkspace
xcuserdata/
.DS_Store
# second directory

*/Build/
*/DerivedData/
**.xcworkspace
*/xcuserdata/
*/.DS_Store

# third directory

**/Build/
**/DerivedData/
***.xcworkspace
**/xcuserdata/
**/.DS_Store
